:root {
  --background-color: #f4f3f1;
  --secondary-background-color: #dfd8d3;
  --third-color: #969593;
  --text-color: #262627;
  --text-color-disable: #adb5bd;
  --text-color-light: #868e96;
  --highlight-color: #002733;
  --secondary-highlight-color: #007bff;
  --card-background-color: #FAF9F6;
}