:root {
  --background-color: #fafafa;
  --secondary-background-color: #dfd8d3;
  --third-color: #969593;
  --text-color: #262627;
  --text-color-disable: #adb5bd;
  --text-color-light: #868e96;
  --gray-4: #ced4da;
  --highlight-color: #0c0c21;
  --secondary-highlight-color: #007bff;
  --card-background-color: #FAF9F6;
  --border-color: #4a4a4a;
}